* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Logo */
.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

/* Container */
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
}

body.dark-mode .container {
    background-color: #444;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo do botão "Calcular" quando está no modo "Limpar" */
button#calcular.limpar {
    background-color: #ff4444;
}

button#calcular.limpar:hover {
    background-color: #cc0000;
}

/* Estilo do botão "Calcular Fator K" quando está no modo "Limpar" */
button#calcularFatorK.limpar {
    background-color: #ff4444;
}

button#calcularFatorK.limpar:hover {
    background-color: #cc0000;
}

.resultado {
    margin-top: 20px;
}

#modoNoturno {
    margin-top: 20px;
    background-color: #333;
}

body.dark-mode #modoNoturno {
    background-color: #555;
}

/* Botão da Calculadora de Fator K */
.btn-fator-k {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-fator-k:hover {
    background-color: #218838;
}

/* Botão Voltar */
.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #5a6268;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #666;
    width: 100%;
    margin-top: auto;
}

body.dark-mode footer {
    color: #aaa;
}